/* starting aboutme-heading */

.aboutme-heading {
    .container {
        border-radius: 20px;
        height: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 40px 0px;
        position: relative;
        margin: 60px auto 100px;
    }

    h3 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 46px;
        color: #fff;
        text-align: center;
        padding-bottom: 7px;
    }

    p {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        text-align: center;
        color: #fff;
    }

    img {
        position: absolute;
        top: 75px;
        left: 280px;
    }
}

/* ending about-heading */

/* starting about-details */

.about-details {
    .about-details-para {
        padding-left: 445px;
        margin-bottom: 105px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 19px;
        line-height: 200%;
        text-align: justify;
        color: #7a7a7a;
    }

    .about-details-img1 {
        margin-top: -215px;
    }

    .about-details-img2 {
        position: absolute;
        top: 53px;
        left: 314px;
    }

    .contact-info-container {}

    .contact-table {
        width: 46%;
        height: 160px;
        border-collapse: collapse;
        color: #333;
    }

    .contact-table tr {
        border: none;
    }

    td {}

    .contact-table td {
        padding: 6px 0px;
        border: none;
        height: 40px;
        width: 40px;
    }

    .contact-table .label {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 19px;
        line-height: 190%;
        color: #7a7a7a;
    }

    .contact-table .value {
        font-family: var(--font-family);
        font-size: 19px;
        line-height: 190%;
        font-weight: 500;
        color: #353535;
    }

    .contact-table .value a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .contact-table .value a:hover {
        text-decoration: underline;
    }

    .btn {
        padding: 10px 16px 10px 21px;
        margin: -100px 0px 0px 440px;
    }

    .horizontal {
        height: 1px;
        margin-top: 55px;
        margin-bottom: 73px;
        background-color: #7a7a7a;
    }

}

/* ending about-details */

/* starting about experience */

.about-experience {
    h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 40px;
        color: #353535;
        margin-bottom: 57px;
    }

    .date {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 190%;
        padding-left: 10px;
    }



    .heading {
        margin: 10px 0px 16px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 180%;
        color: #353535;
    }

    .details {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 200%;
        color: #7a7a7a;
        /* margin-bottom: 47px; */
    }

    .about-timeline {
        border-left: 2px dashed #7a7a7a;
        position: relative;
        /* padding-left: 48px;
        padding-right: 74px;
        padding-bottom: 47px; */
        padding: 0px 74px 47px 48px;
        width: 96%;
        margin: auto;
    }

    .about-timeline::before {
        content: '';
        display: block;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        left: -18px;
        border: 2px dashed #7a7a7a;
        background-color: white;
    }

    .about-timeline::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: -9px;
        background-color: #52ab70;
    }

    .red::after {
        background-color: #f17676;
    }

    .yellow {
        padding-bottom: 0px;
        margin-bottom: 120px;
    }

    .yellow::after {
        background-color: #ffd233;
    }
}

/* ending about-experience */

/* starting about-skill */
.about-skill {
    .written {
        position: relative;
        margin-bottom: 80px;
    }

    .written .heading {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        color: #353535;
    }

    .written .percentage {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        text-align: center;
        
    }
    

    .written::before {
        content: '';
        display: block;
        height: 4px;
        /* width: 362px; */
        width: 100%;
        position: absolute;
        border: 4px solid #d9d9d9;
        top: 44px;
        border-radius: 20px;
    }

    .written::after {
        content: '';
        display: block;
        height: 4px;
        position: absolute;
        border: 4px solid;
        top: 44px;
        border-radius: 20px;
    }

    .figma::after {
        border-color: #f16500;
        width: 95%;
    }
    .figma .percentage{
        color: #f16500;
        padding-left: 75%;
    }
    .xd::after{
        border-color:  #700d60;
        width: 80%;
    }
    .xd .percentage{
        color: #700d60;
        padding-left: 68%;
    }
    .illustrator::after{
        border-color: #efc003;
        width: 85%;
    }
    .illustrator .percentage{
        color: #efc003;
        padding-left: 42%;
    }
    .photoshop::after{
        border-color: #03249b;
        width: 95%;
    }
    .photoshop .percentage{
        color: #03249b;
        padding-left: 50%;
    }
    .photoshop{
        margin-bottom: 138px;
    }
}