@media (min-width: 320px) and (max-width: 480px) {
    .hidden {
        display: none;
    }

    /* starting about-heading */
    .aboutme-heading {
        .container {
            height: 113px;
            padding: 27px 0px;
            margin-bottom: 17px;
            border-radius: 0px;
        }

        h3 {
            font-size: 28px;
            margin-bottom: 0px;
        }

        p {
            font-size: 12px;
        }
    }

    /* ending about-heading */

    /* starting about details */
    .about-details {
        .about-details-para {
            padding-left: 12px;
            padding-right: 12px;
            margin-bottom: 93px;
            font-size: 13px;
            line-height: 180%;
        }

        .about-details-img1 {
            margin-top: 0px;
            width: 296px;
            margin-bottom: 36px;
        }

        .col-lg-4 {
            text-align: center;
        }

        .col-lg-8 {
            /* padding: 0px; */
        }

        .about-details-img2 {
            width: 70px;
            top: 116px;
            left: 108px;
            transform: rotate(-90deg);
        }

        .contact-table td {
            padding: 9px 0px;
            border: none;
            height: 40px;
            width: 40px;

        }

        .contact-table .label {
            font-size: 13px;
        }

        .contact-table .value {
            font-size: 13px;
        }

        .contact-table {
            width: 50%;
        }

        .btn {
            margin: 19px 0px 0px 0px;
            padding: 9px 13px 9px 15px;
            font-size: 13px;
        }

        .horizontal {
            margin-top: 41px;
            margin-bottom: 39px;
        }

    }

    /* ending about details */

    /* starting about-experience */

    .about-experience {
        .date {
            display: none;
        }

        .hidden span {
            display: none;
        }

        h2 {
            font-size: 22px;
            margin-bottom: 40px;
        }

        .heading {
            font-size: 15px;
        }

        .details {
            font-size: 12px;
        }

        .about-timeline {
            padding: 0px 27px 30px 40px;
            width: 90%;
        }
        .about-timeline::before{
            width: 24px;
            height: 24px;
            left: -13px;
        }
        .about-timeline::after{
            width: 11px;
            height: 11px;
                    top: 3px;
        left: -7px;
        }
        .yellow{
            margin-bottom: 59px;
        }
        
    }

    /* ending about-experince */

    /* starting about-skill */

    .about-skill{
        .written .heading {
            font-size: 14px;
        }
        .written .percentage{
            font-size: 14px;
        }
        .photoshop{
            margin-bottom: 87px;
        }
    }

    /* ending about-skill */

}

@media (max-width: 410px) {
    .about-details {


        .contact-table .label {
            font-size: 10px;
        }

        .contact-table .value {
            font-size: 10px;
        }
    }
}
@media (max-width: 335px) {
    .about-skill .photoshop .percentage{
        padding-left: 45%;
    }
}