@media (min-width: 320px) and (max-width: 480px) {

    /* starting project-btn  */
    .project-btn {
        .btn-container{
            margin-bottom: 45px;
        }
        .btn {
            font-size: 14px;
            padding: 15px 20px;
            background-color: white;
            color: black;
        }

        .btn-1 {
            padding: 9px 41px;
            border: 1px solid black;
        }
        .border-none {
            margin: 0 8px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .btn-4 {
            margin-left: 0px;

        }
    }
    /* ending project-btn */
    .project-card{
        p{
            font-size: 11px;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        h5{
            font-size: 15px;
        }
        img{
            width: 343px;
        }
        .box-col-1{
            margin-right: 0;
            margin: 0 auto 39px;
        }
        .box-col-2{
            margin-left: 0;
            margin: 0 auto 39px;
        }
        .box-4{
            margin-bottom: 80px;
        }
    }

}